body{
  color: #343434;
  font-family:"Montserrat", sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  line-height:1.5;
  margin: 0;
  background-color: #e7dfdf;
}
img{
  width:200px;
  height:150px;
  padding-right: 0px;
}

#nav-bar{

   align-items: right;
   justify-content: center;
   padding-top: 60px;

}

.nav-link{
  padding: 20px;
  margin: 20px;

}

h1{
  display: inline;
  font-weight:bolder;
  font-size: 36px;
  padding-left: 0px;

}



section{
  justify-content: center;
}

.flex-container{
  justify-content: center;
}

form{
  padding-bottom: 60px;
}

h3{
  justify-content: flex-start;
}

#howitworks{
  padding-top: 60px;
}

table{
  padding-top: 60px;
  padding-bottom: 60px;
  width:90%;
  justify-content: center;

}

tr,th,td{
  justify-content: center;
  text-align: center;

  height: 80px;

}
